h1{font-family:times new roman,arial;
font-size:40px;
font-weight:bold;
color: navy;
}

h1{background: linear-gradient(to left, blue, Pink);
}

h1
Display:block;
text-align:center;
}

p{
padding: 30px;
margin-top:20px;
border:5px lightblue;
}

table{padding:20px;
bor}
